<!DOCTYPE html>
<html>
<head>
  <title>Sleep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Themaは自分の好きなものをDLしてください -->
<link type="text/css" href="/stylesheets/jquery-ui-1.8.9.custom.css" rel="stylesheet" />  

<!-- jqueryui -->                                                                                 
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('jqueryui', '1.8.9');
</script>

<!-- datetimepicker -->
<script type="text/javascript" src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
$(function(){
  $('.datetimepicker').datetimepicker({
    inline: true,
    dateFormat: 'yy/mm/dd'
  });
});
</script>

<%= yield %>

</body>
</html>
